---
---
{% include document_head.html %}

<body>
  <header>
    {% include logo.html %}
    {% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/vision.html">Vision &amp; Mission</a></li>
        <li><a href="pages/employment.html">Job Opportunities</a></li>
        <li><a href="pages/news.html">News Archive</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>About Starling Shrub Starters</h1>
      <p>Starling Shrub Starters was founded by Jason and Janel Starling in early 2022 when our journey as plant
        parents grew to a point that we wanted to share our experience with others. We felt very inspired to reach
        out into our community to help others begin their own journey as plant parents, even to those who felt they
        were incapable of fostering such care needed for these little ones.</p>
      <p>We began by establishing Starling Shrub Starters in our local area and identifying specific plant species
        which were easiest to grow in nearly any local home setting. Then we would make sure customers had all the
        tools necessary to cultivate the proper care for their new plants. We decided that offering consultation for
        various plant care needs would also be helpful as there were many questions customers would ask. This also
        gave rise to community workshops which focused on specific plant care topics.</p>
    </article>
  </main>
  <footer>
    {% include footer_content.html %}
  </footer>
</body>

</html>