---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="consult-select.html">Plant Selection Consultation</a></li>
        <li><a href="consult-placement.html">Plant Placement Consultation</a></li>
        <li><a href="workshops.html">Workshops</a></li>
        <li><a href="repotting.html">Repotting Services</a></li>
        <!--
          <li><a href="pages/bmi.html">Compute Your BMI</a></li>
          <li><a href="pages/tools.html">Tools+Resources</a></li>
          <li><a href="pages/expert.html">Ask An Expert</a></li>
          <li><a href="pages/links.html">Useful Links</a></li>
        -->
      </ul>
    </nav>
    <article id="textRight">
      <h1>Consultation</h1>
      <p>Keep an eye out for updates to the Consultation page. We are currently building this space to detail the
        types of consultations we provide and will be updated soon. Thank you for your patience and continued
        patronage!</p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>