---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/locations.html">Locations</a></li>
        <li><a href="pages/feedback.html">Feedback Form</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Contact Us</h1>
      <p>We are working on improving the Contact Us page by providing a direct contact form, but you can get in
        contact with us through the following forms of communication:</p>
      <p>Telephone: (352) 555-0151</p>
      <p>Street and mailing address:<br />3971 SW Archer Rd<br />Gainesville, FL 32608</p>
      <p>E-mail address: <a href="mailto:jj@starlingshrubstarters.com">jj@starlingshrubstarters.com</a></p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>