---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/vision.html">Vision &amp; Mission</a></li>
        <li><a href="pages/news.html">News Archive</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>About Starling Shrub Starters: Job Opportunities</h1>
      <p>Coming soon... employment opportunities! We are hiring for several positions and are looking for individuals
        passionate about plants and sharing their passion with others! Interested individuals should send their resume
        to <a href="mailto:jobs@starlingshrubstarters.com">jobs@starlingshrubstarters.com</a></p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>