---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <article id="textOnly">
      <h1>eStore</h1>
      <p>Coming soon... our eStore! This space will soon be built so that you can purchase our products online to be
        shipped to your home or business. We also plan to offer in-store pickup options for items purchase here in our
        eStore!</p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>