---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/locations.html">Locations</a></li>
        <li><a href="pages/feedback.html">Feedback Form</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Contact Us: Feedback Form</h1>
      <p>Coming soon... our Feedback Form page! We will soon provide a direct feedback form so that you are able to send
        us any information: comments on our web site, your experience as a customer, suggestions, etc. We would love to
        hear from you! If you would like to provide feedback while this page is under construction, email us at <a
          href="mailto:feedback@starlingshrubstarters.com">feedback@starlingshrubstarters.com</a>.</p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>