---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/locations.html">Locations</a></li>
        <li><a href="pages/feedback.html">Feedback Form</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Contact Us: Locations</h1>
      <p>Coming soon... our Locations page! We currently have just one location, but this page will be dedicated to
        listing locations as we expand!</p>
      <section>
        <h2>Main location</h2>
        <div>3971 SW Archer Rd</div>
        <div>Gainesville, FL 32608</div>
      </section>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>