---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/vision.html">Vision &amp; Mission</a></li>
        <li><a href="pages/employment.html">Job Opportunities</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>About Starling Shrub Starters: News Archive</h1>
      <p>Coming soon... our News Archive page! This page will share news about and related to our business and various
        plant care topics.</p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>