---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="catalog.html">Product Catalog</a></li>
        <li><a href="featured.html">Featured Products</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Services</h1>
      <p>Keep an eye out for updates to the Services page. We are currently building this space to show services we
        provide, including <a href="repotting.html">repotting</a>, <a href="consultation.html">consultations</a>,
        and more. Thank you for your patience and continued patronage!</p>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>