---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <article id="siteMap">
      <h1>Site Map</h1>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li><a href="pages/estore.html">eStore</a></li>
        <li><a href="pages/products.html">Products &amp; Services</a>
          <ul>
            <li><a href="pages/catalog.html">Product Catalog</a></li>
            <li><a href="pages/featured.html">Featured Products</a></li>
            <li><a href="pages/services.html">Services</a></li>
            <li><a href="pages/suppliers.html">Suppliers</a></li>
          </ul>
        </li>
        <li><a href="pages/consultation.html">Consultations</a>
          <ul>
            <li><a href="pages/consult-select.html">Plant Selection Consultation</a></li>
            <li><a href="pages/consult-placement.html">Plant Placement Consultation</a></li>
            <li><a href="pages/workshops.html">Workshops</a></li>
            <li><a href="pages/repotting.html">Repotting Services</a></li>
            <li><a href="pages/links.html">Useful Links</a></li>
          </ul>
        </li>
        <li><a href="pages/about.html">About Us</a>
          <ul>
            <li><a href="pages/vision.html">Vision &amp; Mission</a></li>
            <li><a href="pages/employment.html">Job Opportunities</a></li>
            <li><a href="pages/news.html">News Archive</a></li>
          </ul>
        </li>
        <li><a href="pages/contact.html">Contact Us</a>
          <ul>
            <li><a href="pages/locations.html">Locations</a></li>
            <li><a href="pages/feedback.html">Feedback Form</a></li>
          </ul>
        </li>
        <li><a href="pages/sitemap.html">Site Map</a></li>
      </ol>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>