---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/employment.html">Job Opportunities</a></li>
        <li><a href="pages/news.html">News Archive</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Starling Shrub Starters: Vision & Mission</h1>
      <section>
        <h2 id="vision">Our Vision</h2>
        <p>To inspire the community and help it grow! We believe in partnerships and collaboration. Through workshops
          and consultations, we strive to be a positive and helpful resource to the community.</p>
      </section>
      <section>
        <h2 id="mission-statement">Our Mission Statement</h2>
        <p>To provide products and services to the local community. We want to grow with the community and help others
          grow as well. We are committed to providing quality products and services and ensuring the highest customer
          satisfaction.</p>
        <p>Starling Shrub Starters provides products and services which focus on helping
          others grow their home garden. We specialize in flora local to Florida and the
          conditions to optimize proper plant care. Our consultation services and
          workshops help to educate the community and ensure resources are available to
          support plant care to the community.</p>
      </section>
    </article>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>