---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <article id="textLeft">
      <h1>Welcome to Starling Shrub Starters!</h1>
      <p>We are a small, independent business located in Gainesville, FL. We provide plant starts, plant care
        consultation, plant pots, and plant care products. We are open 7 days a week to provide adequate support for
        customer needs at nearly any time of day.</p>
      <p>We have a small selection of plant starts and are researching additional plant starts to offer in the
        future. We also offer consultation for various plant care needs and repotting services. We have a small
        selection of pots, planters, and plant stands with more selections to come! We also have various plant care
        products including plant soils, plant food, pruning shears, garden trowels, garden hoes, and garden gloves.
      </p>
      <p>We are dedicated to providing products and services to meet your plant care needs. We would love to hear
        any feedback and questions you may have.</p>
    </article>
    <div id="image">
      <figure><img class="foot-img" src="images/plant-stand.png" title="Featured Product: Plant Stand"
          alt="Featured Product: Plant Stand" width="256" height="256" />
        <figcaption><em>Featured Product</em>: Plant Stand</figcaption>
      </figure>
    </div>
  </main>
  <footer>
{% include footer_content.html %}
  </footer>
</body>

</html>