---
---
{% include document_head.html %}

<body>
  <header>
{% include logo.html %}
{% include mainmenu.html %}
  </header>
  <main>
    <nav id="subMenu">
      <ul id="subLinks">
        <li><a href="pages/featured.html">Featured Products</a></li>
        <li><a href="pages/services.html">Services</a></li>
        <li><a href="pages/suppliers.html">Suppliers</a></li>
      </ul>
    </nav>
    <article id="textRight">
      <h1>Products & Services: Product Catalog</h1>
      <p>Coming soon... our Product Catalog page! We are currently building this space to show all
        products in our catalog. Thank you for your patience and continued patronage!</p>
    </article>
    <footer>
{% include footer_content.html %}
    </footer>
  </main>
</body>

</html>